[Desktop Entry]
Name=大白菜工具箱
Exec=python3 /home/deck/.cabbage_toolkit/program/main.py
Type=Application
StartupNotify=true
Icon=/home/deck/.cabbage_toolkit/program/desktop-icon.png