[Desktop Entry]
Name=cabbage
Exec=python3 .cabbage_toolkit/program/cabbage-toolkit/main.py
Type=Application
StartupNotify=true
Icon=.cabbage_toolkit/program/desktop-icon.png